<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="/services">Services</a></li>
            <li> <a href="/about">about</a></li>
        </ul>
    </nav>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae consectetur corporis dolores nobis quod soluta. Possimus libero porro vitae id distinctio, neque debitis itaque aspernatur inventore saepe et, quae vero accusamus earum officiis exercitationem consequatur consequuntur laboriosam autem? Architecto sapiente tempora culpa odio expedita delectus incidunt aspernatur asperiores id sint, reiciendis esse modi accusantium porro tenetur doloribus, libero quae magnam mollitia ipsam quos, iure temporibus! Fugiat placeat accusamus fugit sed vitae? Sapiente doloremque voluptas dolores et nam! Consectetur pariatur aliquam quaerat excepturi repellat a, sit unde provident! Placeat odit, aspernatur, sapiente deserunt repellendus velit iure natus aliquid enim illum eius?
    </p>
</body>
</html>